{% for reference in widget.references %}
<div class="sidebar-widget">
   <p class="widget-heading">{{ reference.inversed.title }}</p>
   <div class="contact_details">
      <div class="contact_details_wrap">
         <p class="address">{{ reference.inversed.address }}<br>{{ reference.inversed.city }}, {{ reference.inversed.postCode }}</p>
         <p class="phone"><strong>phone:</strong> {{ reference.inversed.phone }}</p>
         <p class="fax"><strong>fax:</strong> 987-654-3210</p>
         <p class="email"><strong>email:</strong> <a href="mailto:{{ reference.inversed.email }}">{{ reference.inversed.email }}</a></p>
      </div>
      <!-- END contact_details_wrap -->            
   </div>
</div>
{% endfor %}
