<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="robots" content="{{ neutron_settings_get('robots') }}" />
        <meta name="Author" content="{{ neutron_settings_get('author') }}" />
        <meta name="Language" content="{{ app.request.locale }}"/>
        <meta name="Copyright" content="{{ neutron_settings_get('copyright') }}" />
        <meta name="Publisher" content="{{ neutron_settings_get('publisher') }}" />
        <meta name="Description" content=" {% block meta_description %}{{ neutron_seo_description() }}{% endblock %} " />
        <meta name="Keywords" content="{% block meta_keywords %}{{ neutron_seo_keywords() }}{% endblock %} " />
        
        <title>{% block meta_title %}{{ neutron_seo_title() }}{% endblock %}</title>
        
        {% block stylesheets %}
            {% do neutron_prepend_stylesheet('themes/sterling/css/primary-blue.css') %}
            {% do neutron_prepend_stylesheet('themes/sterling/css/_mobile.css') %}
            {% do neutron_prepend_stylesheet('themes/sterling/css/_style.css') %}

            {{ neutron_stylesheet_render() }} 
            
            <!--[if lt IE 9]>
                <link rel="stylesheet" href="{{ site_url }}themes/sterling/css/IE.css" />
            <![endif]-->
        {% endblock %}
        
        {% block javascripts %}

            {% do neutron_prepend_javascript('jquery/js/jquery.js')  %}
            {% do neutron_append_javascript('themes/sterling/js/custom-main.js') %}
            
            {{ neutron_javascript_render() }}

            <!--[if lt IE 9]>
                <link rel="stylesheet" href="{{ site_url }}themes/sterling/css/IE.css" />
            <![endif]-->
            <!--[if lte IE 8]>
                <script type="text/javascript" src="{{ site_url }}themes/sterling/js/IE.js"></script>
            <![endif]-->

        {% endblock %}
    </head>
   <body>
      <!-- START Top-Toolbar -->
      <aside class="top-aside clearfix">
         <div class="center-wrap">
         
            <div class="one_half">
               <div class="sidebar-widget">
                  {% set menu_header = knp_menu_get('NeutronLayoutBundle:Navigation:main', ['menu.header'])%}
                  {{ 
                    knp_menu_render(menu_header, {
                    'depth': 1,
                    'ancestorClass': '',
                    'currentClass': 'current-menu-item',
                    'firstClass': '',
                    'lastClass': ''
                  })
                }}      
               </div>
            </div>
 
   
            <div class="one_half"> 
               <div class="sidebar-widget"> 
              {% set languages = neutron_language_get()  %}
              {% if languages|length > 0 %}
                  <ul class="custom-menu">
                      {% for key, language in languages %}
                         <li><a href="{{ path('frontend_home', {'_locale': key}) }}">{{ language }}</a></li>
                     {% endfor %}
                  </ul>
               {% endif %}
               </div>
            </div>
            
         </div>
         <!-- END center-wrap -->
         <div class="top-aside-shadow"></div>
      </aside>
      <!-- END Top-Toolbar -->
      
      <!-- START Header -->
      <header>
         <div class="center-wrap">
            <div class="companyIdentity">
               <a href="#"><img src="{{ site_url }}themes/sterling/content-images/sterling-logo.png" alt="Website Template" /></a>
            </div>
            <nav>
                
                {% set navigation = knp_menu_get('NeutronLayoutBundle:Navigation:main') %}
                {{ 
                    knp_menu_render(navigation, {
                    'template': '::Theme\\Sterling\\Menu\\navigation.html.twig',
                    'depth': 3,
                    'ancestorClass': 'current-menu-ancestor current-menu-parent',
                    'currentClass': 'current-menu-item',
                    'firstClass': '',
                    'lastClass': '',
                    'attributes': {'class': 'sub-menu'}
                  })
              }}
            </nav>        
         </div>
    </header> 
        
      <!-- END Header -->

<section class="small_banner">
   <div class="center-wrap">
      <p class="page-banner-heading">{% block page_banner_heading %}Default heading{% endblock %}</p>

      {{ neutron_admin_breadcrumbs_render(knp_menu_get('NeutronLayoutBundle:Navigation:main'), 
         {'template': '::Theme\\Sterling\\Menu\\breadcrumbs.html.twig'}) 
      }}
   </div>
   <!-- END center-wrap -->
   
   <div class="shadow top"></div>
   <div class="shadow bottom"></div>
   <div class="tt-overlay"></div>
</section>

 <section id="content-container" class="clearfix">
   <div id="main-wrap" class="clearfix">

      {% block content %}Page Plugin content{% endblock %}
      
      {% block right_sidebar %}{% endblock %}

   </div>
</section>


      <!-- START Footer Callout -->
      <div class="footer-callout clearfix">
         <div class="center-wrap tt-relative">
            <div class="footer-callout-content">
               <p class="callout-heading">Site-wide callout section</p>
               <p class="callout-text">Engage your customers and promote a rewarding call-to-action. Easily toggle this on or off.</p>
            </div>
            <!-- END footer-callout-content -->
            <div class="footer-callout-button">
               <a href="#" class="large green button">View Theme Features &rarr;</a>
            </div>
            <!-- END footer-callout-button -->
         </div>
         <!-- END center-wrap --> 
      </div>
      <!-- END Footer Callout -->
      
          <footer>
             <div class="center-wrap tt-relative">
                <div class="footer-content clearfix">
                   <div class="footer-default-one">
                      <div class="sidebar-widget">
                         <div class="textwidget">
                            <p><img src="{{ site_url }}themes/sterling/content-images/truethemes-premium-wordpress.png" alt="HTML5 Responsive Website Template" class="footer-logo" /><br />
                               This is a great place to input keyword-rich content that will help to boost your website's SEO. This footer can have up to 6 columns, each column a powerful widget region.
                            </p>
                         </div>
                         <!-- END textwidget -->
                      </div>
                      <!-- END sidebar-widget -->
                   </div>
                   <!-- END footer-default-one -->
                   
                   
                   <div class="footer-default-two">
                      <div class="sidebar-widget">
                         <p class="foot-heading">Join our Mailing List</p>
                         <div id="mc_embed_signup">
                            <form action="http://truethemes.us2.list-manage.com/subscribe/post?u=e2deed44e98de9950b14e7fb3&amp;id=47d7d9240b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                               <label for="mce-EMAIL">Email Address:</label>
                               <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="" required />
                               <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" /></div>
                            </form>
                         </div>
                         <!-- END mc_embed_signup -->
                      </div>
                      <!-- END sidebar-widget -->
                   </div>
                   <!-- END footer-default-two -->
                   
                   
                   <div class="footer-default-three">
                      <div class="sidebar-widget">
                         <p class="foot-heading">Connect with us</p>
                         <ul class="social_icons">
                            <li><a href="../Sterling/feed" class="rss">RSS</a></li>
                            <li><a href="http://www.twitter.com/truethemes" class="twitter">Twitter</a></li>
                            <li><a href="http://www.facebook.com/truethemes" class="facebook">Facebook</a></li>
                         </ul>
                      </div>
                      <!-- END sidebar-widget -->
                   </div>
                   <!-- END footer-default-three -->
                </div>
                <!-- END footer-content -->
             </div>
             <!-- END center-wrap -->
             <div class="footer-copyright clearfix">
                <div class="center-wrap clearfix">
                   <div class="foot-copy">
                      <p>Copyright &copy; 2012 Your Company Name. All rights reserved.</p>
                   </div>
                   <!-- END foot-copy -->
                   <a href="page-template-blog-post.html#" id="scroll_to_top" class="link-top">Scroll to Top</a>
                   {% set menu_footer = knp_menu_get('NeutronLayoutBundle:Navigation:main', ['menu.footer'])%}
                    {{ 
                        knp_menu_render(menu_footer, {
                        'depth': 1,
                        'ancestorClass': '',
                        'currentClass': 'current-menu-item',
                        'firstClass': '',
                        'lastClass': ''
                      })
                    }} 
                </div>
                <!-- END center-wrap -->
             </div>
             <!-- END footer-copyright -->	
             <div class="shadow top"></div>
             <div class="tt-overlay"></div>
        </footer>
   </body>
</html>