{% extends "::Theme/Sterling/layout.html.twig" %}

{% block meta_title %}{{ neutron_seo_title(customerService.seo) }}{% endblock %}
{% block meta_keywords %}{{ neutron_seo_keywords(customerService.seo) }}{% endblock %}
{% block meta_description %}{{ neutron_seo_description(customerService.seo) }}{% endblock %}

{% block search %}
    {% if customerService.layout.enableSearch %}
         <div id="banner-search">
           <form method="get" class="searchform" action="#">
              <fieldset>
                 <input type="text" />
              </fieldset>
           </form>
        </div>
    {% endif %}
{% endblock %}

{% block page_banner_text %} 
    {% if customerService.layout.enableBannerText %}
        {{ customerService.layout.bannerText }}
    {% endif %} 
{% endblock %}

{% block footer_text %}
    {% if customerService.layout.enableFooterText %}
        <div class="sidebar-widget">
            <div class="textwidget">
                <p><img src="{{ site_url }}themes/sterling/content-images/truethemes-premium-wordpress.png"  class="footer-logo"><br>
                   {{ customerService.layout.footerText }}
                </p>
             </div>
        </div>
        
    {% endif %}
{% endblock %}

{% block content %}
<div id="main-wrap" class="clearfix">
    <aside class="subnav_cont sidebar">
       <div class="subnav">
        {% set navigation = knp_menu_get('NeutronMvcBundle:Navigation:main', [menu_name]) %}
        {{ 
            knp_menu_render(navigation, {
            'template': '::Theme\\Sterling\\Menu\\sub_navigation.html.twig',
            'depth': 1,
            'ancestorClass': '',
            'currentClass': 'current_subpage',
            'firstClass': '',
            'lastClass': '',
          })
        }}
       </div>
    </aside>
    
    <div class="page_content_right sub-content">
       <h4>{{ customerService.title }}</h4>
       
       {% if(customerService.image and customerService.image.isActive == true) %}
           <p>
               {{ neutron_image(customerService.image, 'CustomerServiceImage_thumb', { class: 'aligncenter' }) }}
           </p>
       {% endif %}
       
       {{ customerService.content|raw }}
       
        <div class="tour-pagination-links clearfix">
            {% if prevService %}
                <a class="tour-pagination-previous" href="{{ path('neutron_customer_service.frontend.customer_service', {'categorySlug': overview.category.slug, 'serviceSlug': prevService.slug}) }}">&larr; {{ prevService.title }}</a>
            {% endif %}
            
            {% if nextService %}
                <a class="tour-pagination-next" href="{{ path('neutron_customer_service.frontend.customer_service', {'categorySlug': overview.category.slug, 'serviceSlug': nextService.slug}) }}">{{ nextService.title }} &rarr;</a>
            {% endif %}
        </div>
       
    </div>
</div>
{% endblock %}

{% block footer_widget_mailing_list %}
    {% if customerService.layout.enableMailingList %}
        <div class="sidebar-widget">
        <p class="foot-heading">Join our Mailing List</p>
            <div id="mc_embed_signup">
                <form action="http://truethemes.us2.list-manage.com/subscribe/post?u=e2deed44e98de9950b14e7fb3&amp;id=47d7d9240b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                   <label for="mce-EMAIL">Email Address:</label>
                   <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="" required="">
                   <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer_widget_social_list %}
    {% if customerService.layout.enableSocialList %}
    <div class="sidebar-widget">
        <p class="foot-heading">Connect with us</p>
        <ul class="social_icons">
            <li><a href="../Sterling/feed" class="rss">RSS</a></li>
            <li><a href="http://www.twitter.com/truethemes" class="twitter">Twitter</a></li>
            <li><a href="http://www.facebook.com/truethemes" class="facebook">Facebook</a></li>
        </ul>
    </div>
    {% endif %}
{% endblock %}







