{% extends "::Theme/Sterling/layout.html.twig" %}

{% block javascripts %}

    {{ parent() }}
    
    {% javascripts
        '@NeutronFormBundle/Resources/public/recaptcha/js/*'
        '@AppBundle/Resources/public/frontend/plugin/contact/form/js/*'
   %}
       <script src="{{ asset_url }}"></script>
   {% endjavascripts %}

{% endblock %}

{% block meta_title %}{{ neutron_seo_title(entity.seo) }}{% endblock %}
{% block meta_keywords %}{{ neutron_seo_keywords(entity.seo) }}{% endblock %}
{% block meta_description %}{{ neutron_seo_description(entity.seo) }}{% endblock %}

{% block page_banner_heading %}  {% endblock %}

{% block page_banner_text %} 
    {% if entity.layout.enableBannerText %}
        {{ entity.layout.bannerText }}
    {% endif %} 
{% endblock %}

{% block search %}
    {% if entity.layout.enableSearch %}
         <div id="banner-search">
           <form method="get" class="searchform" action="#">
              <fieldset>
                 <input type="text" />
              </fieldset>
           </form>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="page_content">
 <div>
    <article>
       <h2>{{ entity.title }}</h2>

       {% if(entity.image and entity.image.isActive == true) %}
           <div class="img-frame blog-frame">
               {{ neutron_image(entity.image, 'ContactImage_thumb') }}
           </div>
       {% endif %}
       
       {{ entity.content|raw }}
       
        {% render 'neutron_contact.controller.frontend.contact_form:renderAction' with {'widget': entity.contactForm} %}
                      
    </article>
 </div>		
</div>
{% endblock %}

{% block right_sidebar %}
 <aside class="sidebar right-sidebar">
     {% render 'neutron_contact.controller.frontend.widget_contact_info:renderAction' with {'widget': entity.widgetContactInfo} %}
 </aside>
{% endblock %}

{% block callout_box %}
     {% if entity.layout.enableCalloutBox %}
         <div class="footer-callout clearfix">
             <div class="center-wrap tt-relative">
                <div class="footer-callout-content">
                   <p class="callout-heading">{{ entity.layout.calloutBoxTitle }}</p>
                   <p class="callout-text">{{ entity.layout.calloutBoxContent }}</p>
                </div>
                {% set url = neutron_path(entity.layout.calloutBoxReferenceName, entity.layout.calloutBoxReferenceId) %}
                {% if entity.layout.enableCalloutBoxBtn and url%}
                    <div class="footer-callout-button">
                       <a href="{{ url }}" class="large green button">{{ entity.layout.calloutBoxBtnText }}</a>
                    </div>
                {% endif %}
             </div>
          </div>
     {% endif %}
{% endblock %}

{% block footer_text %}
    {% if entity.layout.enableFooterText %}
        <div class="sidebar-widget">
            <div class="textwidget">
                <p><img src="{{ site_url }}themes/sterling/content-images/truethemes-premium-wordpress.png"  class="footer-logo"><br>
                   {{ entity.layout.footerText }}
                </p>
             </div>
         <!-- END textwidget -->
        </div>
        
    {% endif %}
{% endblock %}

{% block footer_widget_mailing_list %}
    {% if entity.layout.enableMailingList %}
        <div class="sidebar-widget">
        <p class="foot-heading">Join our Mailing List</p>
            <div id="mc_embed_signup">
                <form action="http://truethemes.us2.list-manage.com/subscribe/post?u=e2deed44e98de9950b14e7fb3&amp;id=47d7d9240b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                   <label for="mce-EMAIL">Email Address:</label>
                   <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="" required="">
                   <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer_widget_social_list %}
    {% if entity.layout.enableSocialList %}
    <div class="sidebar-widget">
        <p class="foot-heading">Connect with us</p>
        <ul class="social_icons">
            <li><a href="../Sterling/feed" class="rss">RSS</a></li>
            <li><a href="http://www.twitter.com/truethemes" class="twitter">Twitter</a></li>
            <li><a href="http://www.facebook.com/truethemes" class="facebook">Facebook</a></li>
        </ul>
    </div>
    {% endif %}
{% endblock %}
