{% extends "::Theme/Sterling/layout.html.twig" %}

{% block meta_title %}{{ neutron_seo_title(overview.seo) }}{% endblock %}
{% block meta_keywords %}{{ neutron_seo_keywords(overview.seo) }}{% endblock %}
{% block meta_description %}{{ neutron_seo_description(overview.seo) }}{% endblock %}


{% block content %}
<aside class="subnav_cont sidebar">
   <div class="subnav">
      <ul>
         <li><a href="page-template-homepage-lightbox-hero.html"><span>Homepage – Lightbox Hero</span></a></li>
      </ul>
   </div>
</aside>

<div class="page_content_right sub-content">
   <h4>{{ overview.title }}</h4>
   {{ overview.content|raw }}
   
   <div class="hr hr-dotted-double">&nbsp;</div>
   
   <div class="one_half">
      <p class="tt-icon icon-smart-phone"> <strong>Responsive</strong><br>
         Sed posuere consectetur est at lobortis. Nulla vitae elit libero a petra augue.
      </p>
      <p class="tt-icon icon-support"> <strong>Amazing Support</strong><br>
         Sed posuere consectetur est at lobortis. Nulla vitae elit libero a petra augue.
      </p>
      <p class="tt-icon icon-shield-green"> <strong>Professionally Built</strong><br>
         Sed posuere consectetur est at lobortis. Nulla vitae elit libero a petra augue.
      </p>
   </div>
   
   <div class="one_half">
      <p class="tt-icon icon-chart"> <strong>SEO Optimized</strong><br>
         Sed posuere consectetur est at lobortis. Nulla vitae elit libero a petra augue.
      </p>
      <p class="tt-icon icon-gear"> <strong>Powerful CMS Options</strong><br>
         Sed posuere consectetur est at lobortis. Nulla vitae elit libero a petra augue.
      </p>
      <p class="tt-icon icon-globe-download"> <strong>Translation-Ready</strong><br>
         Sed posuere consectetur est at lobortis. Nulla vitae elit libero a petra augue.
      </p>
   </div>
</div>
{% endblock %}







